<div id="top-nav" class="navbar navbar-inverse navbar-static-top" ng-controller="LoggedInController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a  class="navbar-brand"    href="/tbot_monitor">TeamMentor Admin (TBot)</a>
        </div>
        <div    class="navbar-collapse ">
            <ul class="nav navbar-nav " >
                <li><a href="monitor.htm"          >monitor </a></li>
                <!--<li><a href="users.htm#/users/main">users</a></li>-->
                <li><a href="/tbot"                >tbot (old)</a></li>

                <li><a href="users.htm#/users/main">admin (old)</a></li>
                <li><a href="/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" href="/admin">

                        Current User:
                        <i class="glyphicon glyphicon-user"></i>
                        {{userName}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>