
<script>
    var TMUser = angular.module('TMUser',[])
                        .config(function($scope,$http)
                            {    
                                var content = [
                                                {"content_type" : "image", "title" : "Image 00", "data" : "temp-photo.jpg"},
                                                {"content_type" : "video", "title" : "Video 00", "data" : "http://player.vimeo.com/video/37176398"},
                                                {"content_type" : "notes", "title" : "Notes 00", "data" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit."}
                                            ]


                                    $scope.content = content;
                                    /*$http.get('/rest/user/admin').success(function(data)
                                    {
                                        $scope.userData = data                        
                                    });                */
                            });    
</script>


<h4>Editing an object using AngularJs</h4>

<br/>
<br/>
<div ng-controller="TMUser">
    
    <pre>{{content}}
    </pre>
    <input type="text" style="width:100%" ng-model="content[0].title" /></input>
    
    [<div id="container">
        <content-item ng-repeat="item in content" content="item">
            {{item}}<hr/>
     </content-item>]
</div>
</div>