#TM specific
/Library_Data/XmlDatabase
/Web Applications/TestResults
/Web Applications/TM_Website/App_Data
TmUsers.xml
webEditorSecretData.config

# Visual Studio files # 
*.pdb
*.suo
*.user
*.nupkg
obj

.idea

#Debug
/Tools/_temp

Web Applications/TeamMentor.CoreLib/bin/Debug
Web Applications/TeamMentor.CoreLib/bin/Release
Web Applications/TM_API/bin
Web Applications/TeamMentor.UnitTests/bin/

Web Applications/TM_Website/bin/*.xml
/Web Applications/TM_Website/App_Code/TM_Customization_Local.cs