#TM specific
_/Library_Data/XmlDatabase
Library_Data/XmlDatabase/TM_Libraries
o2.config

# Visual Studio files # 
*.pdb
release
Web Applications/TeamMentor.CoreLib/bin/Debug/*.xml
obj
*.suo
*.nupkg
Web Applications/TM_Website/bin/*.xml
/Web Applications/packages
Web Applications/TeamMentor.CoreLib/bin/Debug/TeamMentor.CoreLib.dll