<?xml version="1.0"?>
<TMConfig>
  <WebSite_Port>12345</WebSite_Port>
  <WebSite_IP>localhost</WebSite_IP>
  <TMLibraryDataVirtualPath>TMDATA</TMLibraryDataVirtualPath>
  <XmlLibrariesPath>TM_Libraries</XmlLibrariesPath>
  <Libraries_Disabled />
  <DefaultAdminUserName>admin</DefaultAdminUserName>
  <DefaultAdminPassword>!!tmadmin</DefaultAdminPassword>
  <LibrariesUploadedFiles>TM_Library_UploadedFiles</LibrariesUploadedFiles>
  <ShowContentToAnonymousUsers>true</ShowContentToAnonymousUsers>
  <SanitizeHtmlContent>false</SanitizeHtmlContent>
  <WindowsAuthentication>
    <Enabled>false</Enabled>
    <ReaderGroup>TEAMMENTOR\TeamMentor Readers</ReaderGroup>
    <EditorGroup>TEAMMENTOR\TeamMentor Editors</EditorGroup>
    <AdminGroup>TEAMMENTOR\TeamMentor Admins</AdminGroup>
  </WindowsAuthentication>
</TMConfig>