<?xml version="1.0"?>
<TMConfig>
  <Version>TM 3.0 (23 Jan)</Version>
  <WebSite_Port>12345</WebSite_Port>
  <WebSite_IP>localhost</WebSite_IP>
  <XmlLibrariesPath>TM_Libraries</XmlLibrariesPath>
  <Libraries_Disabled />
  <DefaultAdminUserName>admin</DefaultAdminUserName>
  <DefaultAdminPassword>!!tmbeta</DefaultAdminPassword>
  <LibrariesZipsFolder>..//Library_Data//TM_Library_Zips</LibrariesZipsFolder>
  <ShowContentToAnonymousUsers>false</ShowContentToAnonymousUsers>
</TMConfig>