<?xml version="1.0"?>
<TMConfig>  
  <WebSite_Port>12345</WebSite_Port>
  <WebSite_IP>localhost</WebSite_IP>
  <XmlLibrariesPath>TM_Libraries</XmlLibrariesPath>
  <Libraries_Disabled />
  <DefaultAdminUserName>admin</DefaultAdminUserName>
  <DefaultAdminPassword>!!tmbeta</DefaultAdminPassword>
  <LibrariesZipsFolder>TM_Library_Zips</LibrariesZipsFolder>
  <ShowContentToAnonymousUsers>true</ShowContentToAnonymousUsers>
</TMConfig>