<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="41943040">
          <!-- set to 40Mb -->
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <httpCookies httpOnlyCookies="true"/>
    <pages viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <!--<add extension=".cshtml" type="RazorEngine.Web.CSharp.CSharpRazorBuildProvider, RazorEngine" />-->
      </buildProviders>
    </compilation>
    <customErrors mode="Off"/>
    <!-- this is actually a feature requirement for TeamMentor since the error messages are supposed to be handled by the client -->
    <!--<customErrors mode="On" defaultRedirect="/html_pages/errorPage.html"/> -->
    <httpRuntime enableVersionHeader="false" maxRequestLength="50000" executionTimeout="3600" requestValidationMode="2.0"/>
    <authentication mode="None"/>
    <identity impersonate="false"/>
    <!-- for TeamMentor ActiveDirectory support set to true-->
  </system.web>
  <system.webServer>
    <!-- for TeamMentor ActiveDirectory support-->
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentSharp.CoreLib" publicKeyToken="55a0f9bf4256d533" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.1" newVersion="5.1.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>