<?xml version="1.0"?>
<configuration>
	<configSections>	
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SecurityInnovation.TeamMentor.WebClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="SecurityInnovation.TeamMentor.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="SecurityInnovation.TeamMentor.Authentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="4097152">					
				</jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.web>
		<httpCookies httpOnlyCookies="true"/>
		<pages viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>				
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				</assemblies>
		</compilation>
    		
		<customErrors mode="Off"> <!-- this is actually a feature requirement for TeamMentor since the error messages are supposed to be handled by the client -->
		</customErrors>
		<httpModules>
		</httpModules>		
		<httpRuntime maxRequestLength="50000" executionTimeout="3600"/>
    <authentication mode="None"/>  
    <identity impersonate="false"/> <!-- for TeamMentor ActiveDirectory support set to true-->
	</system.web>
	<system.webServer>
    <validation  validateIntegratedModeConfiguration="false"/> <!-- for TeamMentor ActiveDirectory support-->
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
