
@{    var tmRest = (TeamMentor.CoreLib.TM_REST) @Model; }
Here are the current active TM sessions:
<ul>
    @foreach (var sessionId in tmRest.ActiveSessions())
    {
        var user = tmRest.ActiveSession(sessionId);
        @: <li>@user.UserName with @sessionId</li>
    }
</ul>