<script>
    
function TMUser($scope,$http)
    {        
        $scope.update = function(userData)
            {                
                $scope.result = " ... saving user";
                $http.put('/rest/user',userData)
                    .success(function(data)
                        {                            
                            $scope.result = (data) ? "(User details saved)" : "Error: Failed to Save user!";
                        })

            }

        var userName = window.location.search.substring(1);
        if (userName != "")
        {
                $scope.userName = userName;
                $http.get('/rest/user/' + userName).success(function(data)
                    {             
                        //_data = data;                        
                        $scope.userData = data
                        var value = data.ExpirationDate;
                        $scope.userData.date = new Date(parseInt(value.replace("/Date(", "").replace(")/",""), 10));
                    });        
        }
        else        
            $scope.userName =  "No username provided";
    }    
</script>



<h4>Editing user </h4>
<div ng-controller="TMUser">	
    
    <form name="myForm" class="css-form" ng-submit="update(userData)">    
        <ul>
            <p>        
                <b>User ID</b> {{userData.UserId}}
            </p>

            <div class="input-prepend">
                <span class="add-on" style="width:120px;">UserName</span>
                <input type="text" style="width:250px;" ng-model="userData.UserName" required/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Email</span>
                <input type="email" style="width:250px;" ng-model="userData.Email" required/>
            </div><br/>        
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">FirstName</span>
                <input type="text" style="width:250px;" ng-model="userData.FirstName"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">LastName</span>
                <input type="text" style="width:250px;" ng-model="userData.LastName"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Company</span>
                <input type="text" style="width:250px;" ng-model="userData.Company"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Job/Title</span>
                <input type="text" style="width:250px;" ng-model="userData.Title"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Country</span>
                <input type="text" style="width:250px;" ng-model="userData.Country"/>
            </div><br/>
            
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">State</span>
                <input type="text" style="width:250px;" ng-model="userData.State"/>
            </div><br/>
            <!--<div class="input-prepend">
                <span class="add-on" style="width:120px;">Account Expiration Date</span>
                <input type="text" style="width:250px;" ng-model="userData.ExpirationDate"/>
            </div><br/>-->
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Account Expiration</span>
                <input type="text" style="width:250px;" ng-model="userData.date"/> 
            </div> (read only)<br/>
            
                
            <label class="checkbox">
                <input type="checkbox" ng-model="userData.PasswordExpired"> <b>Password Expired</b>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="userData.UserEnabled"> <b>User Enabled</b> 
            </label>
                    
                    
            <!--
                <label>UserName</label>     <input type="text" class= "input-xxlarge" ng-model="userData.UserName"/>
                <label>Email</label>        <input type="text" class= "input-xxlarge" ng-model="userData.Email"/>       
                <label>First Name</label>   <input type="text" class= "input-xxlarge" ng-model="userData.FirstName"/>
                <label>Last Name</label>    <input type="text" class= "input-xxlarge" ng-model="userData.LastName"/>
                <label>Company</label>      <input type="text" class= "input-xxlarge" ng-model="userData.Company"/>
                <label>Title</label>        <input type="text" class= "input-xxlarge" ng-model="userData.Title"/>
                <label>Job</label>          <input type="text" class= "input-xxlarge" ng-model="userData.Job"/>
                <label>Country</label>      <input type="text" class= "input-xxlarge" ng-model="userData.Country"/>
                <label>State</label>        <input type="text" class= "input-xxlarge" ng-model="userData.State"/>
                -->
            <br/>            
            <button class="btn btn-primary">Save</button>  <small><a href="Current_Users">back to user's list</a> {{result}}</small>
        </ul>    

    </form>
    
    <small><a href="javascript:window.location = window.location">reload page</a></small>
    <br/>
        <br/>
    <b>save result</b>        	
    <pre></pre>	
    <b>raw data</b>
    <pre>{{userData}}</pre>
        
</div>

<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }

 
    </style>
