<script src="/Javascript/jQuery/jquery-1.8.1.min.js" type="text/javascript"></script>  
<script type="text/javascript" src="/Javascript/bootstrap/2.2.2/bootstrap.min.js"></script>
<link   href="/Javascript/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />        
<script src="/Javascript/bootstrap/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script> 
<script type="text/javascript">
    
function TMUser($scope,$http)
    {        
        $scope.update = function(userData)
            {                
                $scope.result = " ... saving user";
            
                var picker = $('#expirationDate').datetimepicker();

                var selectedDate = picker.data('datetimepicker').getLocalDate();

                userData.ExpirationDate = "\/Date(" + Date.parse(selectedDate) + ")\/";
                
                $http.put('/rest/user',userData)
                    .success(function(data)
                        {    
                            $scope.result = (data) ? "(User details saved)" : "Error: Failed to Save user!";
                        })
            }

        var userName = window.location.search.substring(1);
        if (userName != "")
        {
                $scope.userName = userName;
                $http.get('/rest/user/' + userName).success(function(data)
                    {
                        $scope.userData = data;

                        var currentExpirationDate = new Date(parseInt($scope.userData.ExpirationDate.replace("/Date(", "").replace(")/",""), 10));

                        var picker = $('#expirationDate').datetimepicker();

                        picker.data('datetimepicker').setLocalDate(currentExpirationDate);
                    });        
        }
        else        
            $scope.userName =  "No username provided";
    }

</script>

<div ng-controller="TMUser">
    	
    <a href="User_View?userName={{userData.UserName}}" class="btn btn-info" >View User</a>
    <a href="User_Edit?{{userData.UserName}}" class="btn btn-info" disabled>Edit User</a>
    <a href="User_Activities?userName={{userData.UserName}}" class="btn btn-info" >View Activity/Logs</a>
    <a href="User_Raw?userName={{userData.UserName}}">Raw/Xml Data</a>

    <h4>Editing user </h4>
    
    <form name="myForm" class="css-form" ng-submit="update(userData)">    
        <ul>
            <p>        
                <b>User ID</b> {{userData.UserId}}
            </p>

            <div class="input-prepend">
                <span class="add-on" style="width:120px;">UserName</span>
                <input type="text" style="width:250px;" ng-model="userData.UserName" required/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Email</span>
                <input type="email" style="width:250px;" ng-model="userData.Email" required/>
            </div><br/>        
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">FirstName</span>
                <input type="text" style="width:250px;" ng-model="userData.FirstName"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">LastName</span>
                <input type="text" style="width:250px;" ng-model="userData.LastName"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Company</span>
                <input type="text" style="width:250px;" ng-model="userData.Company"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Job/Title</span>
                <input type="text" style="width:250px;" ng-model="userData.Title"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">Country</span>
                <input type="text" style="width:250px;" ng-model="userData.Country"/>
            </div><br/>
            
            <div class="input-prepend">
                <span class="add-on" style="width:120px;">State</span>
                <input type="text" style="width:250px;" ng-model="userData.State"/>
            </div><br/>
            <div class="input-prepend">
                <span class="add-on" style="width: 120px;">Account Expiration</span>
                <div id="expirationDate" class="input-append date">
                    <input data-format="MM/dd/yyyy" readonly id="txtBxExpirationDate" type="text" style="width: 250px;" required />
                    <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
            </div>
            <br />
              <label class="checkbox">
                <input type="checkbox" ng-model="userData.PasswordExpired"> <b>Password Expired</b>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="userData.UserEnabled"> <b>User Enabled</b> 
            </label>
                    
                    
            <!--
                <label>UserName</label>     <input type="text" class= "input-xxlarge" ng-model="userData.UserName"/>
                <label>Email</label>        <input type="text" class= "input-xxlarge" ng-model="userData.Email"/>       
                <label>First Name</label>   <input type="text" class= "input-xxlarge" ng-model="userData.FirstName"/>
                <label>Last Name</label>    <input type="text" class= "input-xxlarge" ng-model="userData.LastName"/>
                <label>Company</label>      <input type="text" class= "input-xxlarge" ng-model="userData.Company"/>
                <label>Title</label>        <input type="text" class= "input-xxlarge" ng-model="userData.Title"/>
                <label>Job</label>          <input type="text" class= "input-xxlarge" ng-model="userData.Job"/>
                <label>Country</label>      <input type="text" class= "input-xxlarge" ng-model="userData.Country"/>
                <label>State</label>        <input type="text" class= "input-xxlarge" ng-model="userData.State"/>
                -->
            <br/>            
            <button class="btn btn-primary">Save</button>  <small><a href="Current_Users">back to user's list</a></small><span class="result">{{result}}</span>
        </ul>    

    </form>
    
    <small><a href="javascript:window.location = window.location">reload page</a></small>
    <br/>            
</div>


<style type="text/css">
  .css-form input.ng-invalid.ng-dirty 
  {
    background-color: #FA787E;
  }

  .result {
      font-weight: bold;
      color: #005580;
      margin-left: 10px;
  }

</style>

<hr/>
<a href="Current_Users">back to users list</a>