
@using O2.DotNetWrappers.ExtensionMethods
@using TeamMentor.CoreLib
@using FluentSharp

@{
    var userData = TM_UserData.Current;
    var userName   = System.Web.HttpContext.Current.Request["userName"];    
    var tmUser = userData.tmUser(userName);
}

<a href="User_View?userName=@tmUser.UserName" class="btn btn-info">View User</a>
<a href="User_Edit?@tmUser.UserName" class="btn btn-info" >Edit User</a>
<a href="User_Activities?userName=@tmUser.UserName" class="btn btn-info" >View Activity/Logs</a>
Raw/Xml Data

<h4>User details</h4>

@if (tmUser.notNull())
{          
    <h5>Raw Data</h5>
    <ul>
        <pre>@tmUser.toXml();</pre>
    </ul>
}
else
{
    <p>No user found</p>
}

<hr/>
<a href="Current_Users">back to users list</a>