body {
	font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*#EditButtons {
	margin-top: 10px;
}*/

.IEButton {
	color: black;
	border-color: black;
	border-radius: 4px;
	border-style: solid;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
	font-size: medium;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
}
.IEButton:active {
	text-decoration: none;
	color: black;
	font-size: medium;
	font-weight: bold;
}
.IEButton:link {
	text-decoration: none;
	color: black;
	font-size: medium;
	font-weight: bold;
}
.IEButton:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	color: white;
	background-color: #05C;
}