body {
    /*background-color: lightgray;*/
    font-size: medium;
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h2  
    {
        margin: 0px;
    }
.NEHiddenValue 
    {
        display:none;
    }
.NEHeader {
    /*margin-bottom: 18px;*/
    /*background-color: #0074CC;*/
    /*background-color: #05C;*/
    display: block;
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-left: 4px;
    margin-bottom: 8px;
    /*font-size: 14px;*/
    /*line-height: 18px;*/
    /*color: white;*/
}
.NEHeader:before {
    display: table;
    content: "";
}
.NEHeader:after {
    clear: both;
    display: table;
    content: "";
}

.NEToolbar {
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    
}

.NEButton {
    color: black;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
}
.NEButton:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: white;
    background-color: #05C;
    /*background-position: 0 -15px;*/
}

.NEDataTypeLabel {
    margin-left : 20px;	
    font-weight : bold;
    font-family : Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.NEDataType {
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    width: 120px;    
    color: black;
    border: 2px solid black;    
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 8px 8px 8px 8px;
}

.NEContent {
    position: fixed;
    top: 120px;
    bottom: 30px;
    left: 8px;
    right: 30px;
}

.Content {
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    font-family: Consolas, Droid Mono, Fixed, Courier New, Courier;
}