<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Algorim.CreoleWiki" version="1.0.4335.37128" targetFramework="net45" />
  <package id="FluentSharp.CoreLib" version="5.5.156" targetFramework="net45" />
  <package id="MarkdownDeep.NET-StrongName" version="1.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
</packages>