@using System
@using FluentSharp.CoreLib
@using FluentSharp.Git
@using TeamMentor.CoreLib
@using Sharpen
@using NGit.Diff
@using NGit


<h4>Git Diff (Commit)</h4>

@{
    
    var userData = TM_UserData.Current;
    var userDataLocation = userData.Path_UserData;
    
    
    var fromId = HttpContextFactory.Request["fromId"];
    var toId   = HttpContextFactory.Request["toId"];

    if (fromId.notValid() || toId.notValid())
    {
        return; // end request
    }
    
    Func<Repository, string, string, string> getDiff =
        (gitRepo, fromCommitId, toCommitId) =>
            {


                var fromCommit = gitRepo.Resolve(fromCommitId);
                var toCommit = gitRepo.Resolve(toCommitId);
                
                var outputStream = "Sharpen.dll".assembly().type("ByteArrayOutputStream").ctor(new object[0]).cast<OutputStream>();
                //return "diffing from {0} to  {1}".format(fromCommit, toCommit);
                var diffFormater = new DiffFormatter(outputStream);
                diffFormater.SetRepository(gitRepo);
                //diffFormater.Format(refLog.GetNewId(), refLog.GetOldId());
                diffFormater.Format(fromCommit, toCommit);
                return "result: " +  outputStream.str();
            };
                                
    var repo = userDataLocation.git_Open().Repository;    
    var diffLines = getDiff(repo, fromId, toId).fix_CRLF().lines();
    var diffLines_WithData = diffLines.where((line) => line.starts("+") || line.starts("-"));
    
}

<p>
    <small>
        @foreach (var line in diffLines_WithData)
        {        
            var color = "black";
            if (line.starts("+"))
            {   color = "green"; }
            else if (line.starts("-"))
            {   color = "red"; }        
            <span style='color:@color'>@line</span><br/>
        }  
    </small>
</p>

<p>
    <a href="GitStatus"> go back to gitStatus</a>
</p>