
<script>
    //var TMUser =angular.module('TMUser',[]);

    function EditObject($scope,$http)
        {

            $scope.saveObject = function()
                {
                    $scope.message  = "saving data";
                    _newData = angular.fromJson($scope.objectToEdit);
                    $http.put('/rest/admin/secretData', $scope.objectToEdit).success(function(result)
                    {
                        $scope.message  = "data saved: " + result;
                    });

                }

            $scope.message  = "loading data";
            $http.get('/rest/admin/secretData').success(function(data)
                {
                    $scope.objectToEdit = angular.toJson(data,true);
                    $scope.message  = "data loaded";
                });
        };   
</script>


<h4>Editing an Secret Data</h4>

<br/>
<br/>
<div ng-controller="EditObject" ng-submit="update(userData)">

    <textarea ng-model="objectToEdit"  rows="15" class="input-xxlarge" >        </textarea>
    <button class="btn btn-primary" ng-click="saveObject()">Save</button>
    <span>{{message}}</span>
</div>