
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib
<h4>Redirect to password reset page</h4>
@{
    var userId = HttpContextFactory.Request["userId"];
    if(userId.valid() && userId.isInt())
    {
        var tmUser = userId.toInt().tmUser();
        if (tmUser.notNull())
        {            
            var token = tmUser.passwordResetToken_getTokenAndSetHash();
            var url = "/passwordReset/{0}/{1}".format(tmUser.UserName, token);
            HttpContextFactory.Response.Redirect(url);
        }
    }
    
    "[Redirect_PasswordResetPage] could not find user with user ID: {0}".error(userId);
    HttpContextFactory.Response.Redirect("/error");
}
