
@using FluentSharp.CoreLib
@using FluentSharp.Web
@using TeamMentor.CoreLib

@{
    var userData = TM_UserData.Current;
    var userNameOrId   = HttpContextFactory.Current.Request["user"];        
    var tmUser = userData.tmUser_by_Name_or_Id(userNameOrId);    
}

<a href="User_View?user=@userNameOrId" class="btn btn-info">View User</a>
<a href="User_Edit?@userNameOrId" class="btn btn-info" >Edit User</a>
<a href="User_Activities?user=@userNameOrId" class="btn btn-info" >View Activity/Logs</a>
Raw/Xml Data

<h4>User details</h4>

@if (tmUser.notNull())
{          
    <h5>Raw Data</h5>
    <ul>
        <pre>@tmUser.toXml();</pre>
    </ul>
}
else
{
    <p>No user found</p>
}

<hr/>
<a href="Current_Users">back to users list</a>