
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib

@{
    var userData = TM_UserData.Current;
    var newUser = userData.newUser().tmUser();
    
}
<h4>New Random user </h4>
<p>
    <b>New user ID:</b> @newUser.UserID <br/>
    <b>New user Name:</b> @newUser.UserName
    <br><br>
     <b>User Raw Data</b>  
    <pre>
    @newUser.toXml()
    
    </pre>
</p>
<br/>
<a href="User_Edit?@newUser.UserName">Edit User</a>
