<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a  class="navbar-brand"    href="/tbot_v2">TeamMentor Admin (TBot)</a>
        </div>
        <div    class="navbar-collapse ">
            <ul class="nav navbar-nav " >
                <li><a href="#/tbot"               >tbot</a></li>
                <li><a href="users.htm#/users/main">users</a></li>
                <li><a href="/login?LoginReferer=/tbot_v2">login</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin">Legacy Control Panel</a></li>
                        <li><a href="/TeamMentor">Main TeamMentor site</a></li>
                    </ul>
                </li>

                <li><a href="/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>