<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentSharp.CoreLib" version="5.5.167" targetFramework="net451" />
  <package id="FluentSharp.NGit" version="5.5.167" targetFramework="net451" />
  <package id="FluentSharp.Web_3_5" version="5.5.167" targetFramework="net451" />
  <package id="FluentSharp.Web_4_5" version="5.5.167" targetFramework="net451" />
  <package id="FluentSharp.Xml" version="5.5.167" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="RazorEngine" version="3.4.1" targetFramework="net451" />
</packages>