<?xml version="1.0"?>
<TMConfig>
	<UseAppDataFolder>false</UseAppDataFolder>
	<TMLibraryDataVirtualPath />
	<XmlLibrariesPath>TM_Libraries_2</XmlLibrariesPath>
	<DefaultAdminUserName>admin</DefaultAdminUserName>
	<DefaultAdminPassword>!!tmadmin</DefaultAdminPassword>
	<LibrariesUploadedFiles>TM_Library_UploadedFiles</LibrariesUploadedFiles>
	<ShowContentToAnonymousUsers>true</ShowContentToAnonymousUsers>
	<SSL_RedirectHttpToHttps>false</SSL_RedirectHttpToHttps>
	<SanitizeHtmlContent>false</SanitizeHtmlContent>
	<SingleSignOn_Enabled>true</SingleSignOn_Enabled>
	<REST>
		<AllowCrossDomainAccess>true</AllowCrossDomainAccess>
	</REST>
	<OnInstallation>
		<ForceAdminPasswordReset>false</ForceAdminPasswordReset>
		<DefaultLibraryToInstall_Name>Top Vulnerabilities</DefaultLibraryToInstall_Name>
		<DefaultLibraryToInstall_Location>https://github.com/TeamMentor/Library_Top_Vulnerabilities/zipball/master</DefaultLibraryToInstall_Location>
	</OnInstallation>
	<WindowsAuthentication>
		<Enabled>false</Enabled>
		<ReaderGroup>TEAMMENTOR\TeamMentor Readers</ReaderGroup>
		<EditorGroup>TEAMMENTOR\TeamMentor Editors</EditorGroup>
		<AdminGroup>TEAMMENTOR\TeamMentor Admins</AdminGroup>
	</WindowsAuthentication>
	<TMDebugAndDev>
		<EnableGZipForWebServices>true</EnableGZipForWebServices>
		<Enable302Redirects>false</Enable302Redirects>
	</TMDebugAndDev>
</TMConfig>