
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib

@{
    var userData    = TM_UserData.Current;
    var firstScript = userData.FirstScriptToInvoke;
    var firstScript_Location = userData.firstScript_FileLocation();
    
}
<script>
    function FirstScript($scope,$http)
    {        
        $scope.invoke = function(userData)
            {                
                $scope.result = " ...invoking first script";
                $http.get('/rest/admin/firstScript/invoke').success(function(data)
                    {                                                  
                        $scope.result = data                
                    });                
            }

        $scope.firstScript = "....loading first script's contents";
        $http.get('/rest/admin/firstScript').success(function(data)
            {                                                  
                $scope.firstScript = data                
            });                
    }    
</script>

<div ng-controller="FirstScript">

    <h4>UserData First Script</h4>


    <b>First Script:</b> @firstScript <br/>
    <b>First Script Location:</b> @firstScript_Location<br/>
    <b>First Script Exists:</b> @firstScript_Location.fileExists()<br/>
    <b>First Script File Contents:</b>
    <pre>{{firstScript}}</pre>
    <a  class="btn btn-primary" ng-click="invoke()">Invoke Script</a> <br/>
    <b>Invocation Result</b>
    <pre>{{result}}</pre>
 </div>