@using TeamMentor.Website
@using System.Web.Mvc

@inherits WebViewPage

@{
    ViewBag.Title = "Login Needed";
    Layout = "_Layout.cshtml";   

}

Hi, the page you are trying to access needs more permissions than you currently have. Please <a href="/Login">Login</a>



