
<style>
    .form-group 
        {
            margin-top    : 5px;
            margin-bottom : 5px;
        }
    .input-tag  
        {
            height        : 20px
        }       
    .alert-small 
        {
            padding:  7px 14px 5px 10px;
        }
</style>


<script>    

    function EditObject($scope,$http,$timeout)
    {        
        _scope = $scope;
                
        // REST GET data
        $http.get('/rest/admin/secretData').success(function(secretData)
            {                
                $scope.objectToEdit = angular.toJson(secretData,true);
                
                //create a gitRepositories to hold the value of Libraries_Git_Repositories (since ng-repeat doesn't work well with strings)
                $scope.gitRepositories = [];
                angular.forEach(secretData.Libraries_Git_Repositories, function(value)
                    {
                        console.log(value);
                         $scope.gitRepositories.push( { 'value': value } );
                    });
                $scope.message  = "data loaded";
                show_Temporary_Ok("Data loaded");
            });
        
        // $scope functions
        $scope.saveRawObject = function()
            {
                $scope.message  = "saving data";                
                $http.put('/rest/admin/secretData', $scope.objectToEdit).success(function(result)
                    {
                        $scope.message  = "data saved: " + result;
                    });

            };
        $scope.saveObject = function()
            {
                show_Temporary_Info("Saving data ... ");               
            

                //reImport gitRepositories data                            
                $scope.secretData.Libraries_Git_Repositories = [];
                angular.forEach($scope.gitRepositories, function(gitRepo)
                    {               
                        if (gitRepo.value != '')
                            $scope.secretData.Libraries_Git_Repositories.push(gitRepo.value);
                    });
                
                $http.put('/rest/admin/secretData', $scope.secretData)
                        .success(function(result)
                            {                                
                                if(result)
                                    show_Temporary_Ok("SecretData data saved");
                                else
                                    $scope.result_Error = "Failed to save SecretData (check server logs)";
                            })
                         .error(function()
                            {
                                 $scope.result_Info = '';
                                 $scope.result_Error = "Failed to send SecretData request (check data format)";
                            });
            };
        
        $scope.$watch('objectToEdit', function()
            {                
                $scope.secretData     = angular.fromJson($scope.objectToEdit);
                if($scope.secretData)
                {
                    $scope.smtpConfig     = $scope.secretData.SmtpConfig;
                    $scope.firebaseConfig = $scope.secretData.FirebaseConfig;    
                }                
            });   
                
        $scope.addGitRepo = function()
            {                
                  $scope.gitRepositories.push({ value: ""});
            };
        $scope.removeRepo = function(index)
            {
                $scope.gitRepositories.splice(index,1);
            };


        // internal functions
        var show_Temporary_Info = function(infoMessage)
            {
                $scope.result_Info  = infoMessage;
                $timeout(function() { $scope.result_Info = '';}, 2500);
            };
        var show_Temporary_Ok = function(okMessage)
            {
                $scope.result_Info = '';
                $scope.result_Ok = okMessage;
                $timeout(function() { $scope.result_Ok = '';}, 2500);
            };
        $scope.message        = "loading data";
        
        $scope.result_Ok      = "";
        $scope.result_Error   = "";
        show_Temporary_Info("Loading Data");
    };  
    

    angular.module('tbot')
       .directive('tmInput', function()
            {
                return {
                            restrict    : 'E',
                            scope       : { tmModel : "=" , tmName : "=", tmType : "=" },
                            template    : ' <div class="form-group">                                                 ' +
                                          '     <label  class="col-sm-3 control-label">{{tmName}}</label>            ' +
                                          '      <div class="col-sm-9">                                              ' +
                                          '          <input class="form-control" type="{{tmType}}" id="{{tmName}}"   ' +
                                          '                 ng-model="tmModel"/>                                     ' +
                                          '      </div>                                                              ' +       
                                          '  </div>                                                                  '    
                       };
            })
           .directive('tmText', function()
            {
                return {
                            restrict    : 'E',
                            scope       : { tmModel : "=" , tmName : "=" , tmRows : "="},
                            template    : ' <div class="form-group">                                       ' +
                                          '     <label  class="col-sm-3 control-label">{{tmName}}</label>  ' +
                                          '      <div class="col-sm-9">                                    ' +
                                          '          <textarea class="form-control" rows="{{tmRows}}"      ' +
                                          '                    ng-model="tmModel">                         ' +
                                          '          </textarea>                                           ' +
                                          '      </div>                                                    ' +       
                                          '  </div>                                                        '    
                       };
            })
    .directive('tmCheckbox', function()
            {
                return {
                            restrict    : 'E',
                            scope       : { tmModel : "=" , tmName : "="},
                            template    : ' <div class="form-group">                                    ' +
                                          '     <div class="col-sm-offset-3 col-sm-9">                 ' +
                                          '         <div class="checkbox"> <label>                      ' +
                                          '             <label>                                         ' +
                                          '                 <input type="checkbox" ng-model="tmModel"/> ' +
                                          '                 {{tmName}}                                  ' +
                                          '             </label>                                        ' +
                                          '         </div>                                              ' +
                                          '     </div>                                                  ' +
                                          '  </div>                                                     '    
                       };
                              
            });
</script>


<h4>Editing the UserData's TMSecretData.config file</h4>

<br/>
<br/>


<div ng-controller="EditObject" ng-submit="update(userData)">
<!--    <pre>
{{secretData}}
</pre>-->
    
    <form class="form-horizontal">
        <div class= "row">
            <!--Server Config-->
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Server Config</b></h3>
                    </div>
                    <div class="panel-body">
                                        <!-- User Tags-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Libraries Git Repositories<small><br /><a href="" ng-click="addGitRepo()">New Repo</a></small></label>                
                            
                            <div class="col-sm-9">
                                
                                <div ng-repeat="gitRepo in gitRepositories">
                                
                            
                                    <div class="col-sm-10">
                                    
                                        <input type="text" class='form-control input-tag' ng-model='gitRepo.value' placeholder="git repository url" />                                        
                                    
                                    </div>                               
                                    <div class="col-sm-2">   
                                        <a href="" ng-click="removeRepo($index)">remove</a>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                        <tm-input tm-name="'Rijndael_IV'"        tm-type="'Text'" tm-model="secretData.Rijndael_IV"></tm-input>
                        <tm-input tm-name="'Rijndael_Key'"       tm-type="'Text'" tm-model="secretData.Rijndael_Key"></tm-input>                        
                    </div>
                </div>
            </div>
        </div>
        <div class= "row">
            <!--Firebase Config-->
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Firebase Config</b></h3>
                    </div>
                    <div class="panel-body">
                        
                        <tm-input    tm-name="'Site'"              tm-type="'Text'" tm-model="firebaseConfig.Site"></tm-input>
                        <tm-input    tm-name="'Root Area'"         tm-type="'Text'" tm-model="firebaseConfig.RootArea"></tm-input>
                        <tm-input    tm-name="'Auth Token'"        tm-type="'Text'" tm-model="firebaseConfig.AuthToken"></tm-input>
                        <tm-checkbox tm-name="'Force_Offline'"                      tm-model="firebaseConfig.Force_Offline"></tm-checkbox>
                        <tm-checkbox tm-name="'Log Activities'"                     tm-model="firebaseConfig.Log_Activities"></tm-checkbox>
                        <tm-checkbox tm-name="'Log DebugMsgs'"                      tm-model="firebaseConfig.Log_DebugMsgs"></tm-checkbox>
                        <tm-checkbox tm-name="'Log RequestUrls'"                    tm-model="firebaseConfig.Log_RequestUrls"></tm-checkbox>                    
                    </div>
                </div>
            </div>      
            <!--SMTP Config-->
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>SMTP Config</b></h3>
                    </div>
                    <div class="panel-body">
                        <tm-input tm-name="'Server'"           tm-type="'Text'"     tm-model="smtpConfig.Server"                     ></tm-input>
                        <tm-input tm-name="'UserName (Smtp)'"  tm-type="'Text'"     tm-model="smtpConfig.UserName"                   ></tm-input>
                        <tm-input tm-name="'Password (Smtp)'"  tm-type="'Password'" tm-model="smtpConfig.Password"                   ></tm-input>
                        <tm-input tm-name="'Default From'"     tm-type="'Text'"     tm-model="smtpConfig.Default_From"               ></tm-input>
                        <tm-input tm-name="'Default To'"       tm-type="'Text'"     tm-model="smtpConfig.Default_To"                 ></tm-input>           
                        <tm-text  tm-name="'Email Footer'"     tm-type="'Text'"     tm-model="smtpConfig.Email_Footer" tm-rows="3"   ></tm-text>                                            
                    </div>
                </div>
            </div>
        </div>       
        <div class= "row">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-2">                                  
                    <button class="btn btn-primary col-sm-12" ng-click="saveObject()" id="SaveData">
                        Save Data
                    </button>                                                                                             
                </div>
     
                   <!-- Ok, Info and Error messages-->                    
                <div class="col-sm-3" ng-hide="result_Ok =='' ">
                    <div class="alert alert-success alert-small">
                        <b>Success: </b>{{result_Ok}}
                    </div>
                </div>                    
                <div class="col-sm-3" ng-hide="result_Info =='' ">
                    <div class="alert alert-warning alert-small">
                        <b>Info: </b>{{result_Info}}
                    </div>
                </div>       
                <div class="col-sm-5" ng-hide="result_Error =='' ">                                  
                    <div class="alert alert-danger alert-small">
                        <b>Error: </b>{{result_Error}}
                    </div>
                </div>                       
            </div>                   
        </div>               
    </form>
    <br />
    <br/>
    <br/>
    <br/>
    <br/>


    <div class="alert alert-info">NOTE: the editor below is the old one and changes made to it will replace the conten on UI above (but not vice-verse)</div>
    <form role="form">
        <div class="form-group">
            <label  class="col-sm-2 control-label">File Contents (Raw Edit)</label>
            <div class="col-sm-10">
                <textarea ng-model="objectToEdit"  rows="25" class="form-control" >        </textarea>
                <br />
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="saveRawObject()">Save</button>
                    <span>{{message}}</span>            
                </div>
            </div>
        </div>
    </form>

</div>

