<script>
	TM.ControlPanel.GitHubSync = 
		{
				
				executePull		: function()
					{		
						$("#result").html("...starting GitHub Pull");						
						var params = {};
						TM.WebServices.Helper.invoke_TM_WebService('GitHub_Pull_Origin',params, TM.ControlPanel.GitHubSync.showResult);						
					}	
			,	executePush		: function()
					{		
						$("#result").html("...starting GitHub Push");										
						var params = {};
						TM.WebServices.Helper.invoke_TM_WebService('GitHub_Push_Origin',params, TM.ControlPanel.GitHubSync.showResult);						
					}	
            ,	executeGitCommand		: function()
					{		
                        var gitCommand = $("#gitCommand").val();
						$("#result").html("...executing Git Command: " + gitCommand);						
						var params = { gitCommand : gitCommand };
						TM.WebServices.Helper.invoke_TM_WebService('Git_Execute',params, TM.ControlPanel.GitHubSync.showResult);						
					}	        
                    	
			, 	showResult		: function(result)
					{								
						result = result.replace(/\r\n/g, "<br/>");						
						$("#result").html(JSON.stringify(result));
					}
			, 	applyCss		: function() 
					{												
						$("#pull").button().css('font-size',12)
										   .click(this.executePull);
                        $("#push").button().css('font-size',12)
										   .click(this.executePush);
                        
                        $("#gitCommand").addClass("ui-widget-content ui-corner-all")
															 .relative()
															 //.left(10)
															 .width(200);    
                        $("#execute").button().css('font-size',12)
										   .click(this.executeGitCommand);
                                           
                        $("#gitCommand").val('status');

                        this.executeGitCommand();
						//$("#gitForm").height(100)
					}
		}
	$(function()
		{
			TM.ControlPanel.GitHubSync.applyCss();
			
			$("#username").val("TMInstall");
		});
</script>

<div id="GitHubSync">  
	<h2>GitHub Sync...</h2>
	<br/>
	<p>
		Util to sync the current TeamMentor website with its GitHub Origin (i.e. do a Git Pull Origin)
	</p>
	<br/>
		
	<div> 
		<br/>
		<form id="gitForm">
			<input type="button" id="pull" value="Pull"/> - Get latest data/code from GitHub
            <br />
            <br />
            <input type="button" id="push" value="Push"/> - Push local changes to GitHub
            <br />
            <br />
            <input type="text" id="gitCommand"> 
            <input type="button" id="execute" value="Execute Git Command"/> 
            <p>Common commands: remote -v, status, git add . , git add -A , git commit -m '{commit message}'</p>
		</form>
	</div>
	<div>
		<h3>Result</h3>
		<br/>
        <pre>
		    <div id ="result" >...</div>
        </pre>
	</div>
</div>
          
</div>
