<script>
	TM.ControlPanel.GitHubSync = 
		{
				
				executePull		: function()
					{		
						$("#result").html("...starting GitHub Pull");
						var that = this;						
						var params = {};
						TM.WebServices.Helper.invoke_TM_WebService('GitHub_Pull_Origin',params, TM.ControlPanel.GitHubSync.showResult);						
					}	
			,	executePush		: function()
					{		
						$("#result").html("...starting GitHub Push");
						var that = this;						
						var params = {};
						TM.WebServices.Helper.invoke_TM_WebService('GitHub_Push_Origin',params, TM.ControlPanel.GitHubSync.showResult);						
					}		
			, 	showResult		: function(result)
					{								
						result = result.replace(/\r\n/g, "<br/>");						
						$("#result").html(JSON.stringify(result));
					}
			, 	applyCss		: function() 
					{						
						$("input:[type=text]").addClass("ui-widget-content ui-corner-all")
															 .absolute()
															 .left(100)
															 .width(200);
						$("#pull").button().css('font-size',12)
										   .click(this.executePull);
                        $("#push").button().css('font-size',12)
										   .click(this.executePush);
						$("#gitForm").height(100)
					}
		}
	$(function()
		{
			TM.ControlPanel.GitHubSync.applyCss();
			
			$("#username").val("TMInstall");
		});
</script>

<div id="GitHubSync">  
	<h2>GitHub Sync...</h2>
	<br/>
	<p>
		Util to sync the current TeamMentor website with its GitHub Origin (i.e. do a Git Pull Origin)
	</p>
	<br/>
		
	<div> 
		<br/>
		<form id="gitForm">
			<input type="button" id="pull" value="Pull"/> - Get latest data/code from GitHub
            <br />
            <br />
            <input type="button" id="push" value="Push"/> - Push local changes to GitHub
		</form>
	</div>
	<div>
		<h3>Result</h3>
		<br/>
		<div id ="result" >...</div>
	</div>
</div>
          
</div>
