

<h2>Install Library</h2>
<script>


	TM.ControlPanel.InstallLibraries = 
		{
				librariesZipFolder		: ""
			,	buildGui				: function()
					{
						var that = this;
						this.applyCss();
						this.populateLibrariesZipFolder();
						this.populateListOfLibraries();
						this.setUpLibraryUploadForm();
						TM.Events.onFileUploaded.remove();
						TM.Events.onFileUploaded.add(function() { that.populateListOfLibraries(); });
						$("#AvailableLibsText").add_Link("refresh list").click(function() { that.populateListOfLibraries() })
					}
					
			, 	setUpLibraryUploadForm	: function()
				{

				}				 

			,	populateLibrariesZipFolder : function()
					{
						$("#librariesFolder").html('...');
						var that = this;
						TM.WebServices.Helper.invoke_TM_WebService('Get_Libraries_Zip_Folder', {}, function(value) 
							{
								that.librariesZipFolder = value.replace(/\/\//g,"\/");
								$("#librariesFolder").html(that.librariesZipFolder);
							});					
					}
					
			,	populateListOfLibraries : function()
					{
						var that = this;
						$("#availableLibraries").html('');
						TM.WebServices.Helper.invoke_TM_WebService('Get_Libraries_Zip_Folder_Files', {}, function(libraries) 
							{
								$.each(libraries, function(index, value)
									{										
										var libraryLink = $("<a href='#'/>").append(value)
																			.click(function()
																				{
																					console.log(" -> " +  that.librariesZipFolder );
																					var librarypPath = that.librariesZipFolder + "/" + value;
																					console.log("  ***  " +  librarypPath);
																					$("#fileOrUrl").val(librarypPath);																					
																					that.installLibrary();		// auto install on click
																				});
										$("#availableLibraries").append($("<li>").append(libraryLink));
									});								
									
								//$("#availableLibraries a").first().click();	
							});
					}					
			, installLibrary			: function()
					{
						var libraryToInstall = $("#fileOrUrl").val();
						$("#installMessage").html("... installing library: " + libraryToInstall);
						TM.WebServices.Helper.invoke_TM_WebService('XmlDatabase_ImportLibrary_fromZipFile', 
																   { pathToZipFile : libraryToInstall } , function(result) 
							{
								if(result)									
									$("#installMessage").html($("<p>").append(" > Library installed was successful").css('color','green'));
								else
									$("#installMessage").html($("<p>").append(" > Library installation failed").css('color','red'));
							});	
						
					}
				
			,	applyCss				: function()  
					{
						$("input:[type=text]").addClass("ui-widget-content ui-corner-all")
											  .width(300);
											  
						$("#install").button()
									.css('font-size',12)
									.click(this.installLibrary);
						
						
						$("input:[type=file]").addClass("ui-widget-content ui-corner-all")
											  .width(300);
											  
						$("#upload").button()
									.css('font-size',12);
			
			
						$("#fileUploadIFrame").width("100%").height(50);
						$("#fileUploadDiv").load("views/File_Upload.html?time=".add_Time());
						
						//$("#fileUploadIFrame").attr('src', "pages/File_Upload.html?time=".add_Time());
					}
		}
	
	
	$(function() 
		{ 
			TM.ControlPanel.InstallLibraries.buildGui() 
			$("#fileOrUrl").val('https://github.com/downloads/TeamMentor/OWASP_Library/OWASP.zip');	
		});
					
</script>


<br/>
<b>Current Libraries Zip Folder(server side):</b> <span id="librariesFolder"></span>

<br/>
<br/><h3>Available Libraries Zip files (click to install)</h3><br/>
<p id="AvailableLibsText"> 
	Note that instalation from Zip will override existing libraries with the same name. 
</p>
<br/>
<ul>
	<div id="availableLibraries"></div>
</ul>
<br/><h3>Install Library from File or Url</h3><br/>
<form id="installForm">
	<p>
		<b><label for="fileOrUrl">File (server-side) or Url:</label></b>
		<input type="text" id="fileOrUrl"> <input type="button" id="install" value="Install"/>
		<br/><br/>
		<span id="installMessage"> </div>
	</p>
</form>

<br/><h3>Upload Library to server</h3><br/>
<div  id="fileUploadDiv" />
