
@using FluentSharp.CoreLib;

@{
    var tmRest         = (TeamMentor.CoreLib.TM_REST) @Model;
    var adminScritps   = tmRest.Admin_InvokeScript("list");
}
<h2>O2 Admin Scripts</h2>
<ul>@foreach (var scriptName in @adminScritps.split(","))
    { <li><a href="/rest/admin/script/@scriptName.trim()">@scriptName.trim()</a></li>}
    </ul>