
@using FluentSharp.CoreLib
@using TeamMentor.CoreLib
@{
    var webRoot = TMConfig.WebRoot;
    TBot_Brain.AvailableScripts = TBot_Brain.GetAvailableScripts();
}
<h2>Current Razor Templates</h2>

<pre>
@foreach (var item in TBot_Brain.AvailableScripts)
{
    var hasTemplate = TBot_Brain.TemplateService.HasTemplate(item.Value); 
    @: [@hasTemplate] @item.Key : @item.Value.remove(webRoot)     
    {if (hasTemplate) 
     { 
        TBot_Brain.TemplateService.RemoveTemplate(item.Value);
     }}
}
</pre>


