<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net40" />
  <package id="FluentSharp.AST" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.CassiniDev" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.CassiniDev.NUnit" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.CoreLib" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.NUnit" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.REPL" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.SharpDevelopEditor" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.WatiN" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.WatiN.NUnit" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.Web_3_5" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.WinForms" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.Xml" version="5.5.167" targetFramework="net45" />
  <package id="FluentSharp.Zip" version="5.5.167" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="WatiN" version="2.1.0" targetFramework="net40" />
</packages>