

<h2>Users Mapped by UserTags</h2>


<script  type="text/javascript">    

    var statsConfig = {"fields" : ["Email","UserName", "FirstName","LastName","Company"] };
    

    var tbot = angular.module("tbot");
    
    tbot.controller("TMStats", function($scope,$http)
        {  
            _scope = $scope;
            $http.get('/rest/tbot/json/Json_Users').success(function(tmUsers)
                {                
                    $scope.tmUsers = tmUsers;
                });
            $scope.statsConfig = statsConfig;
        });
    
</script>

<div ng-controller="TMStats">
    
    <table class="table table-striped table-condensed">
        <tr>
            <th>#</th> 
            <span >{{tmUser[field]}} , </span>

            <th class="" ng-repeat="field in statsConfig['fields']" >{{field}}</th>            
        </tr> 
        <tr ng-repeat="tmUser in tmUsers">
            <td>{{$index+1}}</td>
            <td class="" ng-repeat="field in statsConfig['fields']" >{{tmUser[[field]]}}</td>                        
        </tr>
    </table>    
</div>


